<div class="flex flex-col bg-white rounded-lg shadow-xl m-2">
  <div
    class="flex {{
      data.getClima().nivelAr().cor
    }} p-2 rounded-t-lg justify-center"
  >
    <h1 class="text-4xl text-center font-semibold">
      Qualidade do Ar: {{ data.getClima().nivelAr().nivel }}
    </h1>
  </div>
  <div class="flex flex-col p-3">
    <table class="text-center">
      <tr class="border-b-2">
        <th>Qualidade do ar</th>
        <th>Situação</th>
      </tr>
      @for (item of data.getClima().getArDados(); track $index) {
      <tr class="text-left odd:bg-cyan-100">
        <td class="flex items-center">
          {{ item.indice }} @if(data.getClima().nivelAr().indice == item.indice) {
          <i class="text-black text-2xl bi bi-caret-left-fill"></i>}
        </td>
        <td>{{ item.nivel }}</td>
      </tr>
      }
    </table>
    <div class="flex justify-center items-center gap-3">
      <h2 class="text-4xl">Descrição</h2>
      <i class="text-3xl text-amber-500 bi bi-exclamation-triangle-fill"></i>
      <a
        class="flex justify-center items-center w-7 h-7 rounded-md hover:bg-stone-200"
        href="https://www.msdmanuals.com/pt/casa/multimedia/table/%C3%ADndice-de-qualidade-do-ar"
        target="_blank"
        ><i class="text-2xl bi bi-link-45deg"></i
      ></a>
    </div>
    <p class="sm:text-2xl text-center sm:w-2xl">
      {{ data.getClima().nivelAr().dica }}
    </p>
  </div>
  <button
    (click)="fecharModalAr()"
    class="cursor-pointer hover:bg-cyan-400 text-white rounded-b-lg p-2 bg-cyan-500 text-2xl"
  >
    Entendi
  </button>
</div>
