<div class="flex flex-col gap-2 bg-stone-200 p-2 rounded-md w-75">
  <div class="flex">
    <input
      placeholder="Nome do estado"
      type="text"
      (change)="setInputValor($event.target.value)"
      class="w-100 bg-white rounded-l-sm p-2 outline-none"
    />
    <button
      (click)="mostrarOpcoes(this.inputValor)"
      class="w-16 bg-sky-400 cursor-pointer rounded-r-sm hover:bg-sky-300"
    >
      <i class="text-white bi bi-search"></i>
    </button>
  </div>
  <div class="flex flex-col overflow-y-scroll max-h-32">
    @for (item of data; track item.id) {
    <button class="cursor-pointer hover:bg-stone-100 bg-white rounded-sm m-1 p-1.5">
      {{ item.nome }}
    </button>
    }
  </div>
</div>
