<div class="bg-cyan-600 flex flex-col p-6 items-center">
  <div class="flex flex-col items-center gap-2">
    @if(local.isStatus()) {
    <h1 class="text-4xl text-center text-white font-semibold">
      Tempo para {{ local.getCidade().nome }} - {{local.getEstado().sigla}}
    </h1>
    <h2 class="text-3xl text-white">{{ local.getClima().data[0].weather.description }}</h2>
    <div class="flex items-center gap-6">
      <div class="flex">
        <span class="text-5xl font-bold text-white"
          >{{ local.getClima().data[0].temp.toFixed(0) }}°C</span
        >
        <i class="text-white text-5xl bi bi-thermometer-half"></i>
      </div>
      <img
        src="https://cdn.weatherbit.io/static/img/icons/{{
          local.getClima().data[0].weather.icon
        }}.png"
        class="w-20"
      />
    </div>
    <div class="flex flex-10">
      <span class="text-white text-center font-semibold text-3xl"
        >Sensação térmica de {{ local.getClima().data[0].app_temp.toFixed(0) }}°C</span
      >
    </div>
    } @else {
    <h1 class="text-4xl text-center text-white font-semibold">Selecione uma cidade</h1>
    }
  </div>
</div>
