<div class="grid sm:grid-cols-2 lg:grid-cols-3 h-screen">
  <div class="grid lg:col-span-1">
    <div class="flex self-center flex-col gap-3 flex-9/12">
      <div class="flex flex-col items-center">
        <h1 class="text-4xl font-semibold">Tempo Agora</h1>
        <h2 class="text-2xl text-center">Selecione uma cidade para realizar a busca</h2>
      </div>
      <div class="flex gap-3 items-center flex-col">
        <fieldset>
          <legend>Estado</legend>
          <select #es (change)="coletarEstado(es.value)" class="bg-gray-200 p-2 rounded-md w-75">
            <option value="-1">Selecione um estado</option>
            @for (uf of estados; track $index) {
            <option value="{{ uf.id }}">{{ uf.nome }}</option>
            }
          </select>
        </fieldset>
        <fieldset>
          <legend>Cidade</legend>
          <select #cid class="bg-gray-200 p-2 rounded-md w-75" (change)="coletarCidade(cid.value)">
            <option value="-1">Selecione uma cidade</option>
            @for (cd of cidades; track $index) {
            <option value="{{ cd.id }}">{{ cd.nome }}</option>
            }
          </select>
        </fieldset>
      </div>
      <button
        class="self-center p-1.5 bg-sky-400 text-white rounded-full hover:bg-sky-300 cursor-pointer w-75"
        (click)="buscarTempo()"
      >
        Buscar
      </button>
      @if(noMatch) {
        <p class="self-center text-red-500">* Escolha uma cidade e/ou estado para realizar a busca</p>
      }
    </div>
    <footer class="flex p-2.5 items-center justify-between self-end">
      <h1>@SamuMeneDev - {{ dataAtual.getFullYear() }}</h1>
      <div class="flex gap-2.5">
        <a
          class="cursor-pointer"
          title="Meu GitHub"
          target="_blank"
          href="https://github.com/SamuMeneDev"
          ><i class="text-3xl bi bi-github"></i
        ></a>
        <a
          class="cursor-pointer"
          title="Meu LinkedIn"
          target="_blank"
          href="https://www.linkedin.com/in/samuel-isidro-santiago-aba1b131b/"
          ><i class="text-3xl bi bi-linkedin"></i
        ></a>
      </div>
    </footer>
  </div>

  <app-home class="grid sm:col-span-1 lg:col-span-2" [local]="local" />
</div>
